.App {
  text-align: center;
}

#button {
  width: 100px;
  margin: 5px;
  position: absolute;
  top: 50%;
}

.history {
  border-style: solid;
  border-radius: 5px;
  left: 50%;
  margin: 40px;
  padding: 10px;
  background-color: #10e94a4f;
}

.counter {
  border-style: solid;
  border-radius: 5px;
  left: 50%;
  margin: 40px;
  padding: 10px;
  background-color: #10e94a4f;
}

.input-button {
  text-align: center;
}

#counter-label {
  left: 50%;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 10px;
}

#counter-input {

  left: 50%;
  margin-left: 40px;
  padding: 10px;
}


#addOne {
  background-color: #ed7e396b;
}

#addFive {
  background-color: #c4333358;
}

#minusFive {
  background-color: #d62adf6b;
}

#minusOne {
  background-color: #31c6eb6b;
}

#resetBtn {
  background-color: #95dff155;
}